body {
    background: red;
}

.rightside {
    width: 400px;
    background: #DDD;
    padding: 50px;
  }
  
  .rightside label{
    display: block;
  margin-bottom: 20px;
  }
  
  .rightside input{
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
  }