<div class="screen">
  <div class="leftside">

    <form action="/" method="POST">
      <div>
        <h2>Comentário</h2>
        <textarea name="comentarios" rows="10" cols="50"></textarea>
      </div>
      <button id="btn-cadastrar">Cadastrar</button>
      <div class="rightside">
      </div>
    </form>
  </div>
  <div class="rightside">
    <h2>Comentários</h2>
    {{!-- #each é como se fosse um for --}}
    {{#each comentarios}} <br>
    <input type="submit" value="ouvir">
    <p>{{this}}</p> <br>
    <hr>
    {{/each}}
  </div>
</div>